#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 2em;
    text-align: center;
  }
  
  div {
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  li:hover {
    color: #007bff;
  }
  